/* Thin */
@font-face {
    font-family: 'Ravenholm';
    font-weight: 300;
    font-style: normal;
    src: url('/fonts/Ravenholm-Thin.ttf') format('truetype');
  }
  /* Bold */
  @font-face {
    font-family: 'Ravenholm';
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/Ravenholm-Bold.ttf') format('truetype');
  }
  /* Inline (poids intermédiaire ou display) */
  @font-face {
    font-family: 'Ravenholm Inline';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Ravenholm-Inline.ttf') format('truetype');
  }
  /* Color (attention : support variable selon le navigateur) */
  @font-face {
    font-family: 'Ravenholm Color';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Ravenholm-Color.otf') format('truetype');
  }
  
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(65, 65, 65, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(65, 65, 65, 0.5) transparent;
}